/** 
 * Variables
 * Colors, Layout
 */

// Colors
$color-base: rgb(55, 55, 61);
$color-primary: rgb(11, 95, 173);
$color-secondary: #c43ab6;

$color-white: rgb(255, 255, 255);
$color-gray: lighten($color-base, 20%); //side bar gary color transparency
$color-gray-border: lighten($color-base, 70%); // gray color (botton, line bar)
$color-gray-bg: lighten($color-base, 80%); //side bar icon

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100; //line margin
$typographic-base-font-size: 14px; //body font size
$typographic-small-font-size: 14px; //copyright font size

$typographic-base-line-height: 1.5; // Menu line spaces

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 30px; // size
$button-border-radius: 8px; //round conner

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
