@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 70%; // image sizes
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title { //post title
      font-size: $typographic-base-font-size * 2.5; //body
      @include line-height(2.5); //btw title and body paragraph
      @include margin-top(3); // title top
      @include margin-bottom(2)
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(0.8); // link line-height (ball point)
      @include margin-bottom(2.5); // btw body and bottom line

      & p {
        font-size: $typographic-base-font-size * 1.1; //body font size
        @include line-height(1.125); // body font lune height
        @include margin-bottom(1.5) // enter space
      }

    }

  }

}